[flake8]
max-line-length = 120
# F401: Module imported but unused
# F405: " " may be undefined, or defined from star imports: " "
# E722: Do not use bare 'except'
# F841 = unused variable
# F823: local variable is assigned to but never used
extend-ignore = F401, F405, E722, F841, F823, 
